{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "comment-whitespace-inside": null,
        "no-missing-end-of-source-newline": null,
        "max-empty-lines": 1,
        "declaration-block-semicolon-space-after": null
    }
}